# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

RenderOffScreen/.vs

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.




# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
D3D11DEMO/.vs/
D3D11DEMO/D3D11DEMO2/Debug/
D3D11DEMO/Debug/
D3D11DEMO/x64/Debug/
D3D11DEMO/D3D11DEMO/x64/Debug/
1、IDXGISwapChain/nvcodeer_demo.log
1、IDXGISwapChain/.vs/*
1、IDXGISwapChain/Project1/gpu.log
1、IDXGISwapChain/Project1/Project1.vcxproj.user
1、IDXGISwapChain/Project1/x64/*
1、IDXGISwapChain/x64/*
2、D3D11_OpenGL/D311_OpenGL/.vs/*
2、D3D11_OpenGL/D311_OpenGL/D311_OpenGL/D311_OpenGL.vcxproj.user
cuda/cuda/.vs/*
cuda/cuda/cuda/x64/*
injector_demo/.vs/*
RenderOffScreen/RenderOffScreen_demo2/x64/*
D3D11DEMO/D3D11DEMO2/x64/*
D3D11DEMO/x64/*
D3D11DEMO/D3D11DEMO2/D3D11DEMO2.vcxproj.user
D3D11DEMO/D3D11DEMO2/test_gpu_index.log
injector_demo/injector_demo/x64/*
RenderOffScreen/RenderOffScreen/x64/*
OpenGLAPI/.ipynb_checkpoints/*
OpenGL_Hook/capture_window/x64/*
OpenGL_Hook/.vs/*
injector_demo/x64/*
RenderOffScreen/x64/*
RenderOffScreen/RenderOffScreen_demo2/RenderOffScreen_demo2.vcxproj.user
Win32CaptureSample/Win32CaptureSample/chensong.rgb
cuda/cuda/x64/*
